.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: pink;
    height:10vh;
    margin: 0px;
}

.nav-item{
    display: inline;
    list-style: none;
    margin:10px;
     
}

a{
    text-decoration: none;
}