.nav{
    margin:0px;
    background-color: yellow;
    display: flex;
    align-items: center;
    height:5vh;
    width: 100vw;
    justify-content: space-evenly;
}

li{
    list-style: none;
}

.nav-item{
    display: inline;
}

.nav-item-active {
    border: 3px solid black;
    height: 40px;
    width: 100px;
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    all: unset;  
}