.tumbnailCon {
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tumbnails{
    height: 240px;
    width: 300px;
    margin:10px;
}

.images{
    height:200px;
    width: 300px;
}

.portoBTN{
    width: 45%;
    margin:5px 5px auto 5px;
    border-style: none;
    background-color: black;
    color: white;
}

.portoBTN:hover{
    scale: 1.05;
    transition: 1s;

}