.tumbnailCon{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.tumbnails{
    position: relative;
    border: 1px solid black;
    top: 100px;
    height:200px;
    width: 300px;
    background-size:cover;
    background-repeat: no-repeat;

}

.tumbnails:hover{
    scale:1.025;
    transition:1s;
    box-shadow: 5px 5px 5px 0px;
}

.thumb1{
    background-image: url("../../../assets/images/noteScreenshot.png");

}

.thumb2{
    background-image: url("../../../assets/images/passwordScreenshot.png");
}

.thumb3{
    background-image: url("../../../assets/images/rpsScreenshot.png");
}

.thumb4{
    background-image: url("../../../assets/images/weatherScreenshot.png");
}